@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

body {
    min-height: 100vh;
    background-image: url(../imagenes/fondo2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
}

.Card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.616);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    color: aliceblue;
}

img[src="../imagenes/youtubelogo.png"] {
    height: 157.77px;
}

.Letra {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 55%;
    color: white;
    text-shadow: 2px 2px black;
}

.Letra-nav {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    width: 65%;
    color: white;
    text-shadow: 1.2px 1.2px black;
}


.mensaje {
    color: rgba(0, 0, 0, 0.5)
}

.Letra-subnav {
    font-size: 5vh;
    color: #620303;
    text-shadow: 1.5px 1.5px #171515;
}

* {
    padding: 0;
    margin: 0;
}

/*
.container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}
*/
.navbar-light .navbar-nav .nav-link.active {}

.navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
    ;
}

a {
    color: white text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    color: #5d7372;
    text-decoration: none !important;
}

.icono-ig {
    font-size: 300%;
    color: #E1306C;
}

.icono-gh {
    font-size: 300%;
    color: #171515;
}

.icono-lk {
    font-size: 300%;
    color: rgb(63, 114, 155);
}

.icono-wsp {
    background-color: none;
    font-size: 300%;
    color: #00bb2d;
}

footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
}

.sobrenosotros {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 500px;
}

#color li a {
    color: #5d7372;
    text-shadow: 2px 2px black;
}

html {
    overflow-x: hidden;
}

.displayhmtl {
    display: none;
}


@media (max-width: 280px) {

    .displayhmtl {
        font-weight: 600;
        display: inline;
        margin-left: 8vw;
    }

    .icono-lk,
    .icono-gh,
    .icono-ig,
    .icono-wsp {
        font-size: 200%;
    }

    .sobrenosotros {
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        height: 300px;
        align-items: center;
    }

    a {
        color: black;
        text-decoration: none;
        font-family: 'Open Sans', sans-serif;
        color: #5d7372;
        text-shadow: 2px 2px black;
        padding-left: 8px;
    }

    .height-main {
        height: 1000px;
    }
}

@media (max-width: 449px) and (min-width: 281px) {
    nav ul {
        display: none;
    }

    .displayhmtl {
        font-weight: 600;
        display: inline;
    }

    .icono-lk,
    .icono-gh,
    .icono-ig,
    .icono-wsp {
        font-size: 200%;
    }

    .sobrenosotros {
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        height: 300px;
        align-items: center;
    }
}

@media (max-width: 798px) and (min-width: 450px) {

    .sobrenosotros {
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        height: 300px;
        align-items: center;
    }
}

@media (max-width: 853px) and (min-width: 799px) {

    .sobrenosotros {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

.animate__fadeIn {
    animation-duration: 2s;
}

ul li a {
    background: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition-timing-function: ease-out;
    transition-delay: .2s;
    transition: background-size .3s;
}

ul li a:hover {
    color: black;
    background-size: 100% 2px;
}

.navLink {
    display: block;
    padding: .5rem 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    color: white;
    text-decoration: none;
}