@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,600&display=swap');

.Letra {
   @include mb-mt(10px,10px);
    text-align: center;
    width: none;
    color: white;
    text-shadow: map-get($map:$text-shadow , $key:"Letra" );
}

.Letra-nav {
    @include mb-mt(10px,10px);
    text-align: center;
    width: 8vw;
    color: white;
}

.mensaje {
    color: rgba(0, 0, 0, 0.5)
}

.Letra-subnav {
    font-size: 1.5vw;
    color: #620303;
    text-shadow: 1.5px 1.5px #171515;
}

.sobrenosotros {
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 500px;
}
a[href="404.html"]{
    margin-top: 10px ;
    text-align: center;
}