
@media (max-width: 280px) {

    .icono-lk,
    .icono-gh,
    .icono-ig,
    .icono-wsp {
        font-size: 200%;
    }

    .sobrenosotros {
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        height: 300px;
        align-items: center;
    }
    .Letra-subnav {
        font-size: 6.5vw;
        color: #620303;
        text-shadow: 1.5px 1.5px #171515;
    }
    
}

@media (max-width: 449px) and (min-width: 281px) {
    nav {
        ul {
            display: none;
        }
    }

    .icono-lk,
    .icono-gh,
    .icono-ig,
    .icono-wsp {
        font-size: 200%;
    }

    .sobrenosotros {
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        height: 300px;
        align-items: center;
    }

    .Letra-subnav {
        font-size: 5.5vw;
        color: #620303;
        text-shadow: 1.5px 1.5px #171515;
    }
}

@media (max-width: 798px) and (min-width: 450px) {

    .sobrenosotros {
        font-size: 20px;
        text-align: center;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-content: center;
        justify-content: flex-start;
        height: 300px;
        align-items: center;
    }
    .Letra-subnav {
        font-size: 3.6vw;
        color: #620303;
        text-shadow: 1.5px 1.5px #171515;
    }
}

@media (max-width: 853px) and (min-width: 799px) {

    .sobrenosotros {
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .Letra-subnav {
        font-size: 2.5vw;
        color: #620303;
        text-shadow: 1.5px 1.5px #171515;
    }
}
